<launch>
  <rosparam command="load" file="$(find ros_control_iso)/I-SO.yaml" />
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="--stopped relay_with_hysteresis joint_state_controller" ns="ros_control_iso" />

    <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/ros_control_iso/joint_states" />
  </node>

</launch>